  <section class="footer-wrapper">
    <div class="footer-display">
      <div class="banner-img"></div>
      <div class="banner-text">
        <h5>Please feel free to contact us. We look forward to hearing from you. </h5>
      </div>
    </div>
  </section>

  <section class="contact-wrapper">
    <div class="contact-display">
      <div id="map"></div>
      <div class="contact-info">
        <ul>
          <li>
            <h5>Blue Studios</h5>
            <p>Bradenton, FL</p>
          </li>
          <li>
            <p><i class="fa fa-phone" aria-hidden="true"></i> 888-888-8888</p>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
               blue@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <footer class="footer">
    <h4>© 2016 Blue | By: James Hall-Treworgy </h4>
  </footer>

  <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEQPAotL4S6t6CgD9dzZ8gJQf-2Bsi_Ok&callback=initMap"
    async defer></script>
  <script src="/js/functions.js"></script>
  </body>
</html>
