<% include ./partials/header %>

<figure id="article" data-title="index"></figure>


<section class="index-slider-wrapper">
  <div class="index-slider-display">
    <ul class="slider-container">
      <li class="active-slide" style="background: url(/imgs/slider_01.png) 50% 0px / cover;">
        <div class="slide-banner">
          <p> Media</p>
          <h3> Quality Social Standards</h3>
        </div>
      </li>
      <li class="" style="background: url(/imgs/slider_02.png) 50% 0px / cover;">
        <div class="slide-banner">
          <p> Services</p>
          <h3> Quality Social Standards</h3>
        </div>
      </li>
      <li class="" style="background: url(/imgs/slider_03.png) 50% 0px / cover;">
        <div class="slide-banner">
          <p> Digital</p>
          <h3> Quality Social Standards</h3>
        </div>
      </li>
      <li class="" style="background: url(/imgs/slider_04.png) 50% 0px / cover;">
        <div class="slide-banner">
          <p> Culture</p>
          <h3> Quality Social Standards</h3>
        </div>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</section>

<section class="info-wrapper">
  <div class="info-display">
    <h4> your BRAND.</h4>
    <h4> our PASSION.</h4>
    <p> We are a brand focused creative group that utilizes branded direct response, brand integration and traditional advertising methods to introduce product to market.</p>
  </div>
</section>

<section class="branding-wrapper">
  <div class="branding-display">
    <ul>
      <li>
        <i class="fa fa-arrows" aria-hidden="true"></i>
        <h4>DIRECT</h4>
        <p>We leverage direct response and direct customers’ engagement to deliver the dollar needed to sell products in stores and to build brands that last.</p>
      </li>
      <li>
        <i class="fa fa-cube" aria-hidden="true"></i>
        <h4>BRANDED</h4>
        <p>We use the secrets of direct response marketing and direct consumer engagement as a tool of brand awareness and brand penetration.</p>
      </li>
      <li>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <h4>RESPONSE</h4>
        <p>Response is at the heart of our mission because we drive consumers to respond and we respond to the consumers behavior with up to the minute solutions.</p>
      </li>
    </ul>
  </div>
</section>

<section class="numbers-wrapper">
  <div class="numbers-display">
    <ul>
      <li>
        <h4>0</h4>
        <h5>BRANDS</h5>
      </li>
      <li>
        <h4>0</h4>
        <h5>VIDEOS</h5>
      </li>
      <li>
        <h4>0</h4>
        <h5>TARABYTES</h5>
      </li>
      <li>
        <h4>0</h4>
        <h5>PASSION</h5>
      </li>
    </ul>
  </div>
</section>

<section class="services-wrapper">
  <div class="services-display">
    <ul>
      <li>
        <h4><i class="fa fa-balance-scale" aria-hidden="true"></i> Campaign Management</h4>
        <p>We are experts at management and oversight of your campaign from concept to air. We listen. We immerse ourselves. We communicate one to one. We slow down and take the time. The result is our ability to get it done right the first time out.</p>
      </li>
      <li>
        <h4><i class="fa fa-leaf" aria-hidden="true"></i> Creative Services</h4>
        <p>It is absolutely essential to establish your brand quickly to arrest the viewer’s attention. We do this by capturing and elevating the essence of your company’s brand integrity by communicating that with a compelling creative to move the viewer along the trust and transactional path.</p>
      </li>
      <li>
        <h4><i class="fa fa-check-square" aria-hidden="true"></i> Production to Post</h4>
        <p>We have fully integrated production and post-production services. Featuring full HD digital acquisition, we were the first, end-to-end, fully digital production studio in Florida, and are experts at leveraging a digital workflow to deliver final projects quickly. From simple field shoots to multi-cam productions, we do it right… and right on time.</p>
      </li>
      <li>
        <h4><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Media Buying</h4>
        <p>As a result of planning and buying all major networks over the past 15 years, we possess the relationships, the real world experience and the aggressiveness needed to place your commercial in the right media at the right time with the best ROI.</p>
      </li>
      <li>
        <h4><i class="fa fa-desktop" aria-hidden="true"></i> Digital Services</h4>
        <p>We offer professional services within the core service areas of web design, e-commerce, Internet marketing, graphics, animations, package design and brand identity. From small start-up websites to multi-million dollar interactive campaigns, our team consistently pushes the boundaries.</p>
      </li>
      <li>
        <h4><i class="fa fa-bar-chart" aria-hidden="true"></i> Internet Marketing</h4>
        <p>While Internet Marketing may be very broad in scope, we have a comprehensive yet streamlined process for guaranteeing that your company is always marketing and selling on your behalf, especially when you can’t be in front of potential clients or customers yourself.</p>
      </li>
      <li>
        <h4><i class="fa fa-music" aria-hidden="true"></i> Music Recording</h4>
        <p>Castaway Studios is a turnkey show creation and music production facility. Our award winning staff with over 100 years experiences and state of the art gear have placed us as one of the top recording studios in the Eastern United States.</p>
      </li>
      <li>
        <h4><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Talent Booking</h4>
        <p>Talent Pool represents talent of all ages for print, commercials, film/TV and voiceovers. We are a full service agency that has the capabilities to put talent on tape for out of state clients and projects. Our goal is to help actors achieve their goals and dreams of success in feature films, broadcast, radio, photography, and other media.</p>
      </li>
      <li>
        <h4><i class="fa fa-users" aria-hidden="true"></i> Studio Rental</h4>
        <p>Our state of the art studio facility features the largest floor space in the Tampa Bay area. Full set design and multi-camera production capabilities are integrated with our recoding sound stage. Our second studio features a fully integrated home set with dining room, kitchen, family and outdoor areas. You can be lit and shooting in a beautifully decorated home within 5 seconds!</p>
      </li>
    </ul>
  </div>
</section>

<section class="clients-wrapper">
  <div class="clients-display">
    <ul>
      <% Imgs.forEach(function(image) { %>
        <li>
          <img src="<%= image.imgs %>" />
        </li>
      <% }) %>
    </ul>
    <div class="clear"></div>
  </div>
</section>


<% include ./partials/footer %>
