<% include ./partials/header %>

<section class="index-slider-wrapper">
  <div class="index-slider-display">
    <ul class="slider-container">
      <li>
        <p> Hello World</p>
      </li>
    </ul>
  </div>
</section>


<% include ./partials/footer %>
