<% include ./partials/header %>

<section class="index-slider-wrapper">
  <div class="index-slider-display">
    <ul class="slider-container">
      <li id="s1" class="active-slide" style="background: url(https://images.unsplash.com/photo-1465158753229-aa725fff85a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b1d5afac6ea6583b441b809b188bdae) 50% 0px fixed / cover">
        <p> Hello World</p>
      </li>
      <li id="s2" class="" style="background: url(https://images.unsplash.com/photo-1465158753229-aa725fff85a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b1d5afac6ea6583b441b809b188bdae) 50% 0px fixed;">
        <p> Hello World</p>
      </li>
      <li id="s3" class="" style="background: url(https://images.unsplash.com/photo-1465158753229-aa725fff85a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b1d5afac6ea6583b441b809b188bdae) 50% 0px fixed;">
        <p> Hello World</p>
      </li>
      <li id="s4" class="" style="background: url(https://images.unsplash.com/photo-1465158753229-aa725fff85a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b1d5afac6ea6583b441b809b188bdae) 50% 0px fixed;">
        <p> Hello World</p>
      </li>
    </ul>
  </div>
</section>

<section class="info-wrapper">
  <div class="info-display">
    <h4> your BRAND.</h4>
    <h4> our PASSION.</h4>
    <p> We are a brand focused creative group that utilizes branded direct response, brand integration and traditional advertising methods to introduce product to market.</p>
  </div>
</section>

<section class="branding-wrapper">
  <div class="branding-display">
    <ul>
      <li>
        <h4>DIRECT</h4>
        <p>We leverage direct response and direct customers’ engagement to deliver the dollar needed to sell products in stores and to build brands that last.</p>
      </li>
      <li>
        <h4>BRANDED</h4>
        <p>We use the secrets of direct response marketing and direct consumer engagement as a tool of brand awareness and brand penetration.</p>
      </li>
      <li>
        <h4>RESPONSE</h4>
        <p>Response is at the heart of our mission because we drive consumers to respond and we respond to the consumers behavior with up to the minute solutions.</p>
      </li>
    </ul>
  </div>
</section>

<section class="numbers-wrapper">
  <div class="numbers-display">
    <ul>
      <li>
        <h4>68</h4>
        <h5>BRANDS</h5>
      </li>
      <li>
        <h4>1501</h4>
        <h5>VIDEOS</h5>
      </li>
      <li>
        <h4>712</h4>
        <h5>TARABYTES</h5>
      </li>
      <li>
        <h4>1</h4>
        <h5>PASSION</h5>
      </li>
    </ul>
  </div>
</section>


<% include ./partials/footer %>
