* {
  padding: 0;
  margin: 0; }

body {
  font-family: Open Sans Pro, sans-serif;
  background: #fff; }

.header-wrapper {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  border-bottom: 2px solid rgba(63, 114, 155, 0.3);
  z-index: 100; }

.header-display {
  width: calc(100% - 20px);
  max-width: 1220px;
  height: 100%;
  position: relative;
  padding: 0 10px;
  margin: 0 auto; }

.menu-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 16px;
  right: 10px;
  cursor: pointer;
  z-index: 1000; }
  .menu-btn span {
    width: 24px;
    height: 4px;
    background: #3f729b;
    position: absolute;
    left: 2px;
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear; }
    .menu-btn span:nth-of-type(1) {
      top: 1px;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    .menu-btn span:nth-of-type(2) {
      top: 9px; }
    .menu-btn span:nth-of-type(3) {
      top: 17px;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    .menu-btn span:nth-of-type(1).active-menu {
      top: 9px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-btn span:nth-of-type(2).active-menu {
      top: 9px;
      display: none; }
    .menu-btn span:nth-of-type(3).active-menu {
      top: 9px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media (min-width: 1000px) {
  .menu-btn {
    display: none; } }

.header-brand {
  width: 100px;
  height: 100%;
  display: table;
  text-align: center;
  float: left; }
  .header-brand h1 {
    color: #3f729b;
    font-size: 26px;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 1px; }

.header-links {
  width: 100%;
  height: auto;
  position: fixed;
  margin-left: -10px;
  margin-top: 60px; }
  .header-links ul {
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.95);
    overflow-y: hidden;
    list-style: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .header-links ul.active-menu {
      height: 300px; }
  .header-links li {
    display: block;
    padding-left: 25px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .header-links li.active-menu {
      padding: 10px 0 10px 25px; }
  .header-links a {
    color: #34465d;
    font-size: 13px;
    text-decoration: none; }
    .header-links a:hover {
      color: #2ac4ea; }

@media (min-width: 1000px) {
  .header-links {
    width: 80%;
    height: 100%;
    display: table;
    position: initial;
    margin: 0;
    float: right; }
    .header-links ul {
      height: auto;
      display: table-cell;
      background: transparent;
      list-style: none;
      text-align: right;
      vertical-align: middle;
      padding: 0; }
    .header-links li {
      display: inline-block;
      margin-left: 20px; } }

.footer-wrapper {
  width: 100%;
  height: 100%; }

.footer-display {
  width: 100%;
  height: 100%; }

.banner-img {
  width: 100%;
  height: 320px;
  background-image: url("http://www.bluewatermedia.tv/wp-content/uploads/2014/09/Contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%; }

.banner-text {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding: 20px 0;
  text-align: center; }
  .banner-text h5 {
    color: #34465d;
    font-size: 25px;
    margin: 0 10px; }

.contact-wrapper {
  width: 100%;
  height: 100%; }

.contact-display {
  width: 100%;
  height: 90%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 80px 0; }

.contact-info {
  width: 100%;
  display: block;
  vertical-align: top;
  padding-top: 30px; }
  .contact-info ul {
    list-style: none; }
  .contact-info li {
    margin: 10px 0;
    padding-left: 20px; }
    .contact-info li h5 {
      color: #3f729b;
      font-size: 28px;
      margin: 5px 0; }
    .contact-info li p {
      color: #3f729b;
      font-size: 22px; }
    .contact-info li a {
      color: #3f729b;
      font-size: 22px;
      text-decoration: none; }

@media (min-width: 769px) {
  .contact-info {
    width: auto;
    display: inline-block; } }

#map {
  width: 90%;
  height: 300px;
  margin: 0 auto; }

@media (min-width: 769px) {
  #map {
    width: 60%;
    height: 300px;
    margin-left: 50px;
    display: inline-block; } }

.footer {
  width: 100%;
  height: 180px;
  background: #34465d;
  display: table;
  text-align: center; }
  .footer h4 {
    color: #f5f5f5;
    display: table-cell;
    vertical-align: middle; }

.index-slider-wrapper {
  width: 100%;
  height: 90vh;
  padding-bottom: 60px; }

.index-slider-display {
  width: 100%;
  height: 100%; }

.slider-container {
  width: 100%;
  height: 100%;
  list-style: none; }
  .slider-container li {
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    display: table;
    position: absolute;
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease; }
    .slider-container li.active-slide {
      opacity: 1; }

.slide-banner {
  width: 100%;
  height: 220px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 40vh;
  display: table; }
  .slide-banner p {
    color: #f5f5f5;
    font-size: 80px;
    text-shadow: 0 5px 5px #34465d;
    display: table-cell;
    vertical-align: middle; }
  .slide-banner h3 {
    display: table-row;
    font-size: 30px;
    color: #f5f5f5;
    text-shadow: 0 5px 5px #34465d; }

.info-wrapper {
  width: 100%;
  height: auto; }

.info-display {
  width: 90%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0 30px 0; }
  .info-display ul {
    list-style: none; }
  .info-display li {
    width: 33%;
    display: inline-block; }
  .info-display h4 {
    font-size: 38px;
    margin: 15px 0; }
    .info-display h4:nth-of-type(1) {
      color: #3f729b; }
    .info-display h4:nth-of-type(2) {
      color: #34465d; }
  .info-display p {
    color: rgba(50, 50, 50, 0.7);
    line-height: 30px;
    letter-spacing: 1px; }

@media (min-width: 769px) {
  .info-display {
    padding: 50px 0 30px 0; }
    .info-display h4 {
      display: inline-block; } }

.branding-wrapper {
  width: 100%;
  height: auto; }

.branding-display {
  width: 90%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 30px 0; }
  .branding-display ul {
    width: 100%;
    list-style: none; }
  .branding-display li {
    width: 100%;
    text-align: center;
    margin: 25px 0; }
  .branding-display h4 {
    color: #34465d;
    font-size: 25px;
    font-weight: normal;
    margin: 20px 0; }
  .branding-display i {
    color: #34465d;
    font-size: 45px; }
  .branding-display p {
    color: rgba(50, 50, 50, 0.7);
    line-height: 30px;
    letter-spacing: 1px; }

@media (min-width: 769px) {
  .branding-display li {
    width: 30%;
    display: inline-block;
    vertical-align: top; } }

.numbers-wrapper {
  width: 100%;
  height: auto;
  background-image: url("https://images.unsplash.com/photo-1454897834822-1ece264a5d89?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3a5615c0bc77123ece2a2663e2640341");
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.numbers-display {
  width: 90%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 50px 0; }
  .numbers-display ul {
    width: 100%;
    list-style: none; }
  .numbers-display li {
    width: 100%;
    display: block;
    padding: 30px 0; }
  .numbers-display h4 {
    color: #f5f5f5;
    font-size: 90px;
    letter-spacing: 2px;
    font-weight: normal; }
  .numbers-display h5 {
    color: #f5f5f5;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px; }

@media (min-width: 769px) {
  .numbers-display li {
    width: 22%;
    display: inline-block; } }

.services-wrapper {
  width: 100%;
  height: auto; }

.services-display {
  width: 90%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 30px 0; }
  .services-display ul {
    width: 100%;
    list-style: none; }
  .services-display li {
    width: 100%;
    text-align: left;
    margin: 25px 0; }
  .services-display h4 {
    color: #34465d;
    font-size: 25px;
    font-weight: normal;
    margin: 20px 0; }
  .services-display p {
    color: rgba(50, 50, 50, 0.7);
    line-height: 20px;
    margin-left: 20px; }

@media (min-width: 769px) {
  .services-display li {
    width: 30%;
    display: inline-block;
    vertical-align: top; } }

.clients-wrapper {
  width: 100%;
  height: auto;
  background: #f5f5f5; }

.clients-display {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 30px 0; }
  .clients-display ul {
    width: 100%;
    list-style: none; }
  .clients-display li {
    width: 50%;
    float: left;
    margin: 25px 0; }
    .clients-display li img {
      width: 100%; }
  .clients-display h4 {
    color: #34465d;
    font-size: 25px;
    font-weight: normal;
    margin: 20px 0; }
  .clients-display p {
    color: rgba(50, 50, 50, 0.7);
    line-height: 20px;
    margin-left: 20px; }

@media (min-width: 500px) {
  .clients-display li {
    width: 25%;
    vertical-align: top; } }

@media (min-width: 769px) {
  .clients-display li {
    width: 12.5%;
    vertical-align: top; } }

.clear {
  clear: both; }

.team-wrapper {
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 80px; }

.team-display {
  width: 100%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto; }
  .team-display ul {
    list-style: none;
    padding-top: 30px; }
  .team-display li {
    width: 100%;
    float: left;
    text-align: center;
    margin: 15px 0; }
    .team-display li h3 {
      color: rgba(50, 50, 50, 0.7);
      font-size: 14px;
      font-weight: normal;
      margin: 5px 0; }
      .team-display li h3:nth-of-type(1) {
        font-weight: bold; }
  .team-display figure {
    width: 60%;
    margin: 0 auto; }
    .team-display figure img {
      width: 100%; }

@media (min-width: 500px) {
  .team-display li {
    width: 33.33%; } }

@media (min-width: 1000px) {
  .team-display li {
    width: 25%; } }

.blog-wrapper {
  width: 100%;
  height: 100%;
  padding: 80px 0; }

.blog-display {
  width: 100%;
  height: 100%;
  max-width: 1220px;
  margin: 0 auto; }

.blog-container {
  width: 95%;
  height: auto;
  list-style: none;
  margin: 0 auto;
  border-bottom: 1px solid rgba(63, 114, 155, 0.3); }
  .blog-container:nth-of-type(2) {
    padding-top: 80px; }

@media (min-width: 769px) {
  .blog-container {
    width: 66.66%;
    height: auto;
    list-style: none;
    margin-left: 20px; } }

.blog-image {
  width: 100%; }
  .blog-image img {
    width: 100%; }

.blog-content {
  width: 100%;
  height: auto;
  padding: 5px 0; }
  .blog-content header {
    margin: 20px 0; }
    .blog-content header a {
      color: #34465d;
      font-size: 20px;
      text-decoration: none;
      -webkit-transition: all 350ms linear;
      transition: all 350ms linear; }
      .blog-content header a:hover {
        color: #2ac4ea; }
  .blog-content p {
    color: rgba(50, 50, 50, 0.7);
    font-size: 15px;
    margin: 10px 0; }
  .blog-content a {
    color: #3f729b;
    display: block;
    font-weight: bold;
    text-decoration: none;
    margin: 20px 0;
    -webkit-transition: all 350ms linear;
    transition: all 350ms linear; }
    .blog-content a:hover {
      color: #2ac4ea; }

@media (min-width: 769px) {
  .blog-content header a {
    font-size: 25px; } }
