<% include ../partials/header %>

<section class="blog-wrapper">
  <div class="blog-display">

      <li class="blog-container">
        <div class="blog-image">
          <img src="http://www.bluewatermedia.tv/wp-content/uploads/2016/02/Clearwater-Aquarium_Hope-and-Winter-750x430.jpg" alt="" />
        </div>

        <div class="blog-content">
          <header>
            <h3>
              <a href="#">Blue Studios opens doors to Clearwater Marine Aquarium for online web series</a>
            </h3>
            <p>Posted by Blue Studios | February 5th, 2016</p>
          </header>
          <p>CLEARWATER — The forecast was jaw-dropping — an economic impact of $5 billion from the movie “Dolphin Tale,” produced locally and based on the true […]</p>
        </div>
      </li>

  </div>
</section>

<% include ../partials/footer %>
